beautifulsoup4==4.12.3
folium==0.19.3
google_api_python_client==2.157.0
google_auth_oauthlib==1.2.1
googlemaps==4.10.0
nltk==3.9.1
numpy==2.2.1
pandas==2.2.3
protobuf==5.29.2
PyPDF2==3.0.1
python_dateutil==2.8.2
Requests==2.32.3
streamlit==1.41.1
streamlit_folium==0.24.0
